server:
  port:
    5000


spring:
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
        show_sql: true

  datasource:
    driver-class-name: org.mariadb.jdbc.Driver
    url: jdbc:mariadb://j9a705.p.ssafy.io:3306/donnearound
    username: ssafy
    password: ssafy